USE [master]
GO
/****** Object:  Database [practice]    Script Date: 03.05.2023 23:39:18 ******/
CREATE DATABASE [practice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'practice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\practice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'practice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\practice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [practice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [practice]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 03.05.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[Number] [int] NOT NULL,
	[SpecialityID] [int] NOT NULL,
	[Course] [int] NOT NULL,
 CONSTRAINT [PK_Group_1] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModulePractice]    Script Date: 03.05.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModulePractice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](10) NOT NULL,
	[Text] [nvarchar](100) NOT NULL,
	[SpecialityID] [int] NOT NULL,
	[PracticeTypeID] [int] NOT NULL,
 CONSTRAINT [PK_ModulePractice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeType]    Script Date: 03.05.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PracticeType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speciality]    Script Date: 03.05.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speciality](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_Speciality] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 03.05.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupNumber] [int] NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 03.05.2023 23:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Group] ([Number], [SpecialityID], [Course]) VALUES (1135, 1, 3)
INSERT [dbo].[Group] ([Number], [SpecialityID], [Course]) VALUES (1231, 2, 3)
GO
SET IDENTITY_INSERT [dbo].[ModulePractice] ON 

INSERT [dbo].[ModulePractice] ([Id], [Number], [Text], [SpecialityID], [PracticeTypeID]) VALUES (2, N'01', N'Выполнение работ по профессии «Наладчик технологического оборудования»', 2, 2)
INSERT [dbo].[ModulePractice] ([Id], [Number], [Text], [SpecialityID], [PracticeTypeID]) VALUES (3, N'01', N'Разработка ПО для компьютеров', 1, 2)
SET IDENTITY_INSERT [dbo].[ModulePractice] OFF
GO
SET IDENTITY_INSERT [dbo].[PracticeType] ON 

INSERT [dbo].[PracticeType] ([Id], [Name]) VALUES (1, N'учебной')
INSERT [dbo].[PracticeType] ([Id], [Name]) VALUES (2, N'производственной')
INSERT [dbo].[PracticeType] ([Id], [Name]) VALUES (3, N'преддипломной')
SET IDENTITY_INSERT [dbo].[PracticeType] OFF
GO
SET IDENTITY_INSERT [dbo].[Speciality] ON 

INSERT [dbo].[Speciality] ([Id], [Name], [Code]) VALUES (1, N'Информационные системы и программирование', N'09.02.07')
INSERT [dbo].[Speciality] ([Id], [Name], [Code]) VALUES (2, N'Компьютерные сети и комплексы', N'02.02.02')
SET IDENTITY_INSERT [dbo].[Speciality] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [GroupNumber], [Surname], [Name], [Patronymic]) VALUES (1, 1135, N'Кокорин', N'Александр', N'Валерьевич')
INSERT [dbo].[Student] ([Id], [GroupNumber], [Surname], [Name], [Patronymic]) VALUES (2, 1135, N'Шкорко', N'Дмитрий', N'Олегович')
INSERT [dbo].[Student] ([Id], [GroupNumber], [Surname], [Name], [Patronymic]) VALUES (3, 1135, N'Валитова', N'Анна', N'Максимовна')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([Id], [Surname], [Name], [Patronymic]) VALUES (1, N'Пушкин', N'Алексей', N'Анатольевич')
INSERT [dbo].[Teacher] ([Id], [Surname], [Name], [Patronymic]) VALUES (2, N'Побежимов', N'Михаил', N'Валентинович')
INSERT [dbo].[Teacher] ([Id], [Surname], [Name], [Patronymic]) VALUES (3, N'Михайлюк', N'Павел', N'Константинович')
SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
/****** Object:  Index [IX_Group_SpecialityID]    Script Date: 03.05.2023 23:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Group_SpecialityID] ON [dbo].[Group]
(
	[SpecialityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModulePractice_PracticeTypeID]    Script Date: 03.05.2023 23:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_ModulePractice_PracticeTypeID] ON [dbo].[ModulePractice]
(
	[PracticeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModulePractice_SpecialityID]    Script Date: 03.05.2023 23:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_ModulePractice_SpecialityID] ON [dbo].[ModulePractice]
(
	[SpecialityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Student_GroupID]    Script Date: 03.05.2023 23:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Student_GroupID] ON [dbo].[Student]
(
	[GroupNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Speciality] FOREIGN KEY([SpecialityID])
REFERENCES [dbo].[Speciality] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Speciality]
GO
ALTER TABLE [dbo].[ModulePractice]  WITH CHECK ADD  CONSTRAINT [FK_ModulePractice_PracticeType] FOREIGN KEY([PracticeTypeID])
REFERENCES [dbo].[PracticeType] ([Id])
GO
ALTER TABLE [dbo].[ModulePractice] CHECK CONSTRAINT [FK_ModulePractice_PracticeType]
GO
ALTER TABLE [dbo].[ModulePractice]  WITH CHECK ADD  CONSTRAINT [FK_ModulePractice_Speciality] FOREIGN KEY([SpecialityID])
REFERENCES [dbo].[Speciality] ([Id])
GO
ALTER TABLE [dbo].[ModulePractice] CHECK CONSTRAINT [FK_ModulePractice_Speciality]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Group] FOREIGN KEY([GroupNumber])
REFERENCES [dbo].[Group] ([Number])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Group]
GO
USE [master]
GO
